@font-face {
    font-family: Handwritten;
    src: url(ArchitectsDaughter-Regular.ttf);
}

@font-face {
    font-family: Mono;
    src: url(Jackwrite.woff2);
}

pre, code {
    font-family: Mono !important;
}

html, body {
    max-width: 100% !important;
    overflow: auto;
}

body {
    min-height: calc((1vw + 1vh) * 75);
    box-shadow: 0 0 0 black, 0 0 6em #8a4d0f inset;
    background: #fffef0;
    margin: 0;
    padding: 2em;
}

*:not(html):not(body) {
    font-family: 'Handwritten', cursive;
    font-size: 1.25rem;
    background: transparent;
    padding: 0.5rem 0.5rem;
    margin: 2rem .25rem .25rem;
    color: #41403E;
    outline: none;
    box-shadow: 1em 1.5em 1.5em -1em rgba(0, 0, 0, 0.5);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    box-sizing: border-box;
    border: solid 0.1em #4140344E;
    width: fit-content;
    overflow: hidden;
}
:not(body)>a, :not(body)>em,:not(body)>strong, :not(body)>del, :not(body)>sup, :not(body)>sub  {
    margin: 0;
    border: 0;
    padding: 0;
    box-shadow: unset;
}

/* Media */
img, video, iframe {
    padding: 0 !important;
    margin: 0 !important;
}

::cue {
    color: #d9e365;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: "Mono";
    font-size: 2rem;
}


/* Rotations */

/**:nth-child(odd):not(body):not(html):not(tr,td,th,thead,tbody,tfoot,table):not(li) {*/
/*    transform: rotate(2deg);*/
/*}*/

/**:nth-child(even):not(body):not(html):not(tr,td,th,thead,tbody,tfoot,table):not(li) {*/
/*    transform: rotate(-2deg);*/
/*}*/

hr {
    width: 50% !important;
    padding: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border: dotted gray .1rem !important;
}

h1 {
    font-size: 2rem !important;
}

h2 {
    font-size: 1.75rem !important;
}

h3 {
    font-size: 1.5rem !important;
}

h4 {
    font-size: 1.25rem !important;
}

h5 {
    font-size: 1.15rem !important;
}

h6 {
    font-size: 1.05rem !important;
}

h1~:not(h1){
    margin-left: 3rem;
}
h2~:not(h1,h2){
    margin-left: 6rem;
}
h3~:not(h1,h2,h3){
    margin-left: 9rem;
}
h4~:not(h1,h2,h3,h4){
    margin-left: 12rem;
}

h5~:not(h1,h2,h3,h4,h5){
    margin-left: 15rem;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    box-shadow: #8080803d .5rem .5em !important;
}

ol {
    list-style-type: lower-roman;
    list-style-position: inside;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

select {
    overflow: auto !important;
}
